.otter-image
{
height: 40px;
line-height: 40px;
float: left;
}
.right-nav{ 
     height: 40px;
    line-height: 40px;
    float: right;
}
.left-nav{
    height: 40px;
    line-height: 40px;
    float: left;
}